body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 500px;
    margin-top: 50px;
}

.result-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: left;
}

.result-highlight {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
    margin-top: 20px;
}

p{
    font-size: 1.5rem;
    color: black;
}

